#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	sh quickbuild.sh

override_dh_auto_test:

override_dh_auto_install:
	mkdir -p debian/tmp/bibliospec
	tar -xf build-linux-x86_64/BiblioSpec/bibliospec-bin-linux-gcc49-release-3_0_10577.tar.bz2 -C debian/tmp/bibliospec
	mkdir -p debian/tmp/bumbershoot
	tar -xf build-linux-x86_64/Bumbershoot/bumbershoot-bin-linux-gcc49-release-3_0_10577.tar.bz2 -C debian/tmp/bumbershoot
	mkdir -p debian/tmp/pwiz
	tar -xf build-linux-x86_64/pwiz-bin-linux-x86_64-gcc49-release-3_0_10577.tar.bz2 -C debian/tmp/pwiz

override_dh_auto_clean:
	rm -f debian/files
	rm -rf debian/tmp/
	rm -rf debian/pwizard-bibliospec/
	rm -rf debian/pwizard-bumbershoot/
	rm -rf debian/pwizard-tools/
	rm -f debian/pwizard-*.debhelper.log
	rm -f debian/pwizard-*.substvars
	bash clean.sh
